<div class="container">
  <div class="d-flex row justify-content-center">
    <div class="d-flex col justify-content-center"> 
      <input type="text" class="todo-text" placeholder="insert new commission..."/>
      <button type="submit" class="button-todo btn btn-primary">invia alla lista</button>
    </div>
  </div>
  <div class="d-flex row justify-content-center  ">
    <div class="d-flex col justify-content-center align-items-center justify-content-between list">
      <input type="checkbox" name="check" id="todo-check" />
      <span>cvmeinovnreuvoròencuròoncruonròoe</span>
      <span class="X">X</span>
    </div>
  </div>
</div>